.App {
  text-align: justify;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.customCard {
  background: rgb(0, 153, 255) !important;
  color: azure;
  text-align: center;
}
